body {
    text-align: center;
    height: 99%;
    /* border: 1px solid red; */
    overflow:hidden;
}

.container-fluid {
    position: fixed;
    margin: 0;
    padding: 0;
}

html,
body,
#root,
.container-fluid,
.full-height {
    height: 100% !important;
}

header {
    position: relative;
    height: 30px;
    padding: 0 !important;
}

header>div {
    height: 25px;
    float: left;
    margin-top: 2.5px;
    padding: 0 !important;
    position: relative;
}

header>div>button {
    height: 100%;
    background: transparent;
    padding: 0 !important;
    border: 1px solid #909090;
    border-radius: 15px;
}

/* background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff)); */

header>div>button:focus,
.card header .li-button-fix:focus,
header>div>input:focus {
    outline: 0;
}


header>div>button>img {
    float: left;
    height: 100%;
    margin-left: 10px;
    border-radius: 25px;
}

.inner-text-of-button-header {
    position: absolute;
    top: -10px;
    right: 10px;
    padding: 0;
    font-size: 30px;
    font-weight: 500;
}

.task-div {
    color: #8AF0D1;
}

.user-div {
    color: #F1AE38;
}

header>div>input {
    height: 100%;
    border-radius: 15px;
    border: none;
    background: #DDDDDD;
    font-family: Sans-Serif;
    font-size: 15px;
    font-weight: 500;
    color: #4E4942;
}

.fix {
    height: 85px;
    font-size: 50px;
    font-weight: 900;
}


.hr-fixing {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 5px;
    /* background-color: red; */
    background: linear-gradient(to right,
            #E13E3E,
            #EAAA0B,
            #B5D50F,
            #40DE2F,
            #2FDEC2,
            #8A2FDE,
            #DE2F93);
}

.vr-fixing {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 5px;
    background-color: #EE3807;
    /* background: linear-gradient(to right,
            #E13E3E,
            #EAAA0B); */
}


/* Modal */

.modalheader-font-fix {
    color: black !important;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: -1rem;
    text-align: center;
}

.fix-box-color {
    position: absolute;
    left: 20px;
}

.fix-box-item {
    height: 26px !important;
    border-radius: 14px !important;
    margin-left: 10px;
}

/* .react-datepicker {
    margin-top: 25px !important;
} */

.input-font-fix {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 5px;
    color: #6D6D6D;
}

.label-for-datepicker {
    color: #E50C54;
    font-size: 20px;
}

/* Card */

.parent {
    /* float: left; */
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.child {
    height: 99%;
    overflow: auto;
}

.card-box-fixing {
    margin: 0;
    padding: 0;
}

.card {
    background-color: none !important;
    margin-bottom: 10px !important;
    padding: 0;
    min-height: 80px;
}

.the-font-fixing-of-the-card {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.card header {
    height: 35px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.card header p {
    text-align: left;
    float: left;
    position: absolute;
    font-size: 24px;
    top: 0px;
    left: 10px;
    width: 100%;
    overflow: hidden;
    max-height: 35px;
    padding-right: 54px;

}

.card header .li-button-fix {
    width: 15px;
    height: 15px;
    margin: 3px;
    border: none;
    background-color: transparent;
    padding: 0 !important;
    position: relative;
}

.card header .li-button-fix img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 7px;
    left: -3px;
}

.listgroup-fix {
    font-family: sans-serif;
    background-color: #DEE2E2;
    border-radius: 20px 20px 10px 10px !important;
}


.listgroup-fix li {
    background-color: inherit;
    border-radius: 20px !important;
}

.fix-box-color .color-red {
    background-color: #BC4A4A;
}

.fix-box-color .color-blue {
    background-color: #4EB4E4;
}

.fix-box-color .color-yellow {
    background-color: #C9CF4E;
}

.fix-box-color .color-green {
    background-color: #61D672;
}

.full-height,
.inner-full-height-column {
    margin: 0;
    padding: 0;
}

.the-col-of-inner-column {
    padding: 0 5px;
}

.listgroup-fix-backgroundColor {
    background-color: red;
}

.card-of-listDone {
    width: 14%;
}