body {
    text-align: center;
}

.container-fluid {
    position: fixed;
}

html,
body,
#root,
.container-fluid,
.full-height {
    height: 100% !important;
}

header {
    position: relative;
    height: 30px;
    padding: 0 !important;
}

header>div {
    height: 25px;
    float: left;
    margin-top: 2.5px;
    padding: 0 !important;
    position: relative;
}

header>div>button {
    height: 100%;
    background: transparent;
    padding: 0 !important;
    border: 1px solid #909090;
    border-radius: 15px;
}

/* background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff)); */

header>div>button:focus,
.card header .li-button-fix:focus,
header>div>input:focus {
    outline: 0;
}


header>div>button>img {
    float: left;
    height: 100%;
    margin-left: 10px;
    border-radius: 25px;
}

.inner-text-of-button-header {
    position: absolute;
    top: -10px;
    right: 10px;
    padding: 0;
    font-size: 30px;
    font-weight: 500;
}

.task-div {
    color: #8AF0D1;
}

.user-div {
    color: #F1AE38;
}

header>div>input {
    height: 100%;
    border-radius: 15px;
    border: none;
    background: #DDDDDD;
    font-family: Sans-Serif;
    font-size: 15px;
    font-weight: 500;
    color: #4E4942;
}

.border-right {
    /* border-right-width: 5px !important;
    -webkit-border-image: linear-gradient(to right, red, purple)0 100% 0 0 stretch; */
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, transparent), color-stop(0.5, grey), color-stop(0.5, grey), color-stop(1, transparent)) 0 100%;
    border-right-width: 1px;
    padding: 0;
}

.fix {
    height: 85px;
    font-size: 50px;
    font-weight: 900;
}

.border-bottom {
    border-bottom-width: 10px !important;
    /* -webkit-border-image: -webkit-gradient(linear, top, bottom, from(#e00), to(#fff))0 0 100% 0 stretch; */
    -webkit-border-image: linear-gradient(to right, red, purple)0 0 100% 0 stretch;


}


.full-height>.border-right,
.fix-ListDone {
    max-height: 100%;
    overflow-y: auto;
}


/* Modal */

.modalheader-font-fix {
    color: black !important;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: -1rem;
    text-align: center;
}

.fix-box-color {
    position: absolute;
    left: 20px;
}

.fix-box-item {
    height: 26px !important;
    border-radius: 14px !important;
    margin-left: 10px;
}

/* .react-datepicker {
    margin-top: 25px !important;
} */

.input-font-fix {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 5px;
    color: #6D6D6D;
}

.label-for-datepicker {
    color: #E50C54;
    font-size: 20px;
}

/* Card */

.card {
    background-color: none !important;
    margin-bottom: 10px !important;
    padding: 0;
    min-height: 80px
}

.card-body-fix {
    font-size: 2vw;
}

.card header {
    height: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card header p {
    text-align: left;
    float: left;
    font-size: 25px;
    position: absolute;
    top: 0px;
    left: 10px;
    max-width: 84px;
    overflow: hidden;
    max-height: 35px;
    padding-right: 1px;
}

.card header .li-button-fix {
    width: 15px;
    height: 15px;
    margin: 3px;
    border: none;
    background-color: transparent;
    padding: 0 !important;
    position: relative;
}

.card header .li-button-fix img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 7px;
    left: -3px;
}

.listgroup-fix {
    font-family: sans-serif;
    background-color: transparent;
}


.listgroup-fix li {
    background-color: inherit;
}

.fix-box-color .color-red {
    background-color: #BC4A4A;
}

.fix-box-color .color-blue {
    background-color: #4EB4E4;
}

.fix-box-color .color-yellow {
    background-color: #C9CF4E;
}

.fix-box-color .color-green {
    background-color: #61D672;
}