/* .base-container .content .image img {
    margin-top: 40px;
} */

.App {
    margin-top: 40px;
}

.base-container .content .form .form-group {
    margin-bottom: 0 !important;
}

.base-container .footer {
    margin-top: 0 !important;
}